<div class="row flex-items-xs-left">
	<div class="col-4">
		<h1>{{person.firstName}} {{person.middleName}} {{person.lastName}}</h1>
	</div>
	<div class="col-4">
		<div class="btn-group">
			<button class="btn" (click)="edit.emit(person)">
				<clr-icon shape="edit" size="25"></clr-icon>
			</button>
			<button class="btn" (click)="model_open = true">
				<clr-icon shape="remove" size="25" class="is-error"></clr-icon>
			</button>
		</div>
	</div>
</div>

<clr-modal [(clrModalOpen)]="model_open">
		<h3 class="modal-title">Confirm Deletion</h3>
		<div class="modal-body">
			<p>Please confirm that you intend to delete this user.  This process cannot be undone.  This will remove all associated elements (labels, emails, etc) for this person. If you are certain please type <strong>{{person.slug}}</strong> into the space below and click "Delete"</p>
		
			<section class="form-block">
				<div class="form-group">
					<input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="name" #ctrl="ngModel" required>
				</div>
			</section>
		</div>
		<div class="modal-footer">
				<button type="button" class="btn btn-outline" (click)="model_open = false">Cancel</button>
				<button type="button" class="btn btn-danger" [disabled]="person.slug !== name" (click)="confirmDelete()">Delete</button>
		</div>
</clr-modal>